/* styles/HomePage.module.css */
/* ... existing styles ... */

/* Footer */
.footer {
  min-height: 12vh;
  background-color: #333333; /* Light beige background */
  color: #fff; /* White text */
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}


.footer-slogan {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  text-align: left;
  padding-left: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0px;
  line-height: 0;
  font-size: 14px;
  color: #fff;
  margin-bottom: 35px;
}


.footer-logo {
  width: 140px;
  height: auto;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 45px;
  justify-content: start;
  align-items: start;
  text-align: left;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-column h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  
}

.footer-column a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* Responsive adjustments for footer */
@media (max-width: 768px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-title {
    font-size: 20px;
  }

  .download-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }

  .footer-slogan {
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }

  .footer-column h4 {
    font-size: 14px;
  }

  .footer-column a {
    font-size: 12px;
  }
}