/* General styles for the menu bar */
.menu-bar {
  position: fixed;
  bottom: 5vh;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow on the left */
  border: 1px solid #858585; /* Light blue border */
  border-radius: 30px; /* Rounded corners */
}

/* Unfolded state: Fixed to the right side of the screen */
.menu-bar.unfolded {
  height: 50vh;
  border-radius: 30px; /* Rounded corners */
  padding: 30px 10px 15px 10px; /* Adjusted padding */
  justify-content: space-between;

}

/* Folded state: Fixed to the bottom-right corner */
.menu-bar.folded {
  padding: 15px 16px;
}

/* Menu items styling */
.menu-items {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Increased spacing between menu items */
  text-align: center;
}

.menu-item {
  font-size: 14px; /* Smaller font size to match the image */
  font-family: 'Pretendard', sans-serif; 
  color: #858585;
  font-weight: 500; 
  text-decoration: none; /* No underline */
  text-transform: uppercase; /* Uppercase text */
  cursor: pointer;
}

.menu-item:hover {
  color: #333;
}

/* Hide menu items when folded */
.menu-bar.folded .menu-items {
  display: none;
}

/* Blue character icon styling */
.toggle-icon {
  width: 52px;/* Adjusted size to match the image */
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

